.header { 
    background: radial-gradient(circle, rgba(83,90,218,1) 0%, rgba(3,62,93,1) 100%);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.header__logo {
    width: 50px;
    height: 50px;
}

.menu {
    width: 500px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__list li {
    list-style: none;
}

.menu__list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 0 5px #000;
}