.manual__content {
    padding: 50px 0 20px 0;
    min-height: calc(100vh - 120px);
    width: 900px;
    margin: 0 auto;
}

.manual__window {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.manual::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background: url('../../resources/img/map-bg.jpg') center/cover no-repeat;
    z-index: -1;
}