.manual {
    min-height: calc(100vh - 70px - 100px);
    width: 900px;
    margin: 50px auto 20px auto;
}

.manual__window {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}