.filter__continents__variants {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 190px;
}

label {
    display: inline-block;
  }
  
  input {
    margin-right: 10px;
  }