.manual__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    border-radius: 10px;
    background: #f7ff01;
    box-shadow: 3px 2px 5px rgb(45, 51, 71);
}

.manual__search-field {    
    position: relative;
}

.manual__search-field label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.manual__search-field::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 36px;
    width: 25px;
    height: 25px;
    background: url('../../../../resources/icons/search.png') center/cover no-repeat;
}


.manual__search input {
    width: 400px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.manual__favorite {
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    padding: 4px 6px 4px 2px;
    height: 27px;
    background: rgb(83, 90, 218);
    color: #fff;
    box-shadow: 0 0 3px #000000, 0 0 3px #000000;
    text-shadow: 1px 1px 3px black;
    font-size: 12px;
}

.manual__favorite img {
    width: 24px;
}
