.manual__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    border-radius: 10px;
    background: #f7ff01;
    box-shadow: 3px 2px 5px rgb(45, 51, 71);
}

.manual__search-field {    
    position: relative;
}

.manual__search input {
    width: 350px;
    padding: 0 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-right: 0;
    outline: none;
}

.manual__btns {
    display: flex;
    width: 90px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

.manual__favorite {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    align-items: center;
    height: 27px;
    background: rgb(83, 90, 218);
    color: #fff;
    text-shadow: 1px 1px 3px black;
    font-size: 12px;
    transition: .7s;
}

#favorite {
    width: 100%;
}

#all {
    width: 0;
    overflow: hidden;
    /* border-radius: 0 5px 5px 0; */
}


.manual__favorite img {
    width: 24px;
}

.manual__search-box {
    display: flex;
    
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(83, 90, 218);;
}

.search__box {
    width: 30px;
    height: 30px;
    padding: 4px;
}

.search__img {
    width: 100%;
}