.manual__search {
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    background: #f7ff01;
    box-shadow: 3px 2px 5px rgb(45, 51, 71);
}

.manual__search-field {    
    position: relative;
    padding: 0 150px;
}

.manual__search-field label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.manual__search-field::before {
    content: "";
    position: absolute;
    left: 210px;
    top: 35px;
    width: 28px;
    height: 28px;
    background: url('../../../../resources/icons/search.png') center/cover no-repeat;
}


.manual__search input {
    width: 400px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 5px;
}

