.main__item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px 0;
    background: rgba(255, 253, 253, 0.8);
    color: #000;
    text-align: left;
    padding: 7px 10px;    
    box-shadow: 2px 2px 4px black;
}

.main__item>img {
    width: 100px;
    height: 125px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.item__wrapper {
    width: 415px;
    text-align: center;
}

.item__wrapper_title {
    display: flex;
    justify-content: space-between;
}

.item__wrapper_title div {
    display: flex;
}

.item__wrapper_title img {
    width: 15px;
    height: 15px;
    margin: 6px;
    cursor: pointer;
}

.item__title {
    font-size: 18px;
    font-weight: 500;
}

.item__title span {
    font-weight: 400;
    font-size: 16px;
}

.item__text {
    font-size: 14px;
    line-height: 1.4;
    margin: 5px 0 10px;
    text-align: start;
}

.item__btn {
    background-color: rgba(83,90,218,1);
    box-shadow: inset 0 0 10px #000000;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 5px 40px;
}