.main__info {
    width: 800px;
    margin: 0 auto;
    background: radial-gradient(circle, rgba(124,211,249,0.6531862745098039) 0%, rgba(141,216,248,0) 99%);
}

.main__header {
    margin-top: 18vh;
    font-size: 50px;
}

.main__info p {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
}

.journey {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
}

.btns {
    width: 400px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.btns button {
    width: 150px;
    height: 50px;
    background-color: rgba(83,90,218,1);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    text-shadow: 0 0 5px #000;
    box-shadow: 5px 5px 4px #1e1d1d;
    cursor: pointer;
}