.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000043;
    z-index: 10;
}

.card {
    position: relative;
    width: 650px;
    padding: 10px;
    background: center/cover no-repeat;
    color: #fff;
    box-shadow: 3px 3px 6px #000;
}

.card::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(58, 58, 58, 0.575);
    z-index: 11;
}

.card__content {
    background: #3535357d;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px #353535;
    z-index: 13;
}

.card__title {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 700;
}

.card__title span {
    position: relative;
}

.card__title span::before,
.card__title span::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 15px;
    background: #fff;
}

.card__title span::after {
    left: unset;
    right: -30px;
}

.card__body {
    display: flex;
    gap: 30px;
}

.card__img {
    height: 200px;
    max-width: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.card__charts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.card__label {
    font-weight: 500;
}

.card__icon {
    width: 25px;
    height: 25px;
}

.card__description {
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

.card__btn {
    padding: 10px 25px;
    background: #f7ff01;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    text-transform: uppercase;
    display: inline-block;
    transition: .2s;
}

.card__btn:last-child {
    margin-left: 15px;
}

.card__btn:hover {
    background-color: #ffd500;
    color: #fff;
}

.card__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: #ff0000;
    font-weight: 700;
    color: #000;
    box-shadow: 1px 1px 3px #000;
    border-radius: 2px;
    z-index: 12;
}

.divider {
    margin: 0 auto;
    width: 300px;
    border-top: 2px solid #fff;
    margin-bottom: 35px;
}