.filter__continent {
  margin-bottom: 20px;
}

.filter__title {
  font-size: 18px;
}

.filter__options {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 190px;
}

label {
    display: inline-block;
  }
  
  input {
    margin-right: 10px;
  }