.main {
    width: 65%;
    min-height: 400px;
    padding: 0 10px;
}

.main ul {
    padding: 0;
}

.aside {
    width: 30%;
    height: 400px;
    background: #fffdfd;
    padding: 15px 10px;
    box-shadow: 6px 6px 5px rgb(54, 54, 54);
    border-radius: 5px;
}