.main {
    width: 65%;
    min-height: 400px;
    padding: 0 10px;
}

.main ul {
    padding: 0;
    margin-bottom: 25px;
}

.main__more {
    background-color: rgb(255, 247, 0);
    box-shadow:  0 0 4px #000000;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.main__choise {
    margin-top: 80px;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
}

.aside {
    width: 30%;
    position: sticky;
    top: 20px;
    height: 400px;
}

.aside__panel {
    background: #fffdfd;
    box-shadow: 6px 6px 5px rgb(54, 54, 54);
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.aside__city {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
}