.app {
    text-align: center;
}

h1 {    
    color: #ffff00;    
    text-shadow: 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000;
}

.footer {
    margin-top: 50px;
    text-align: center;
    margin: 10px auto;
}