.app {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

h1 {    
    color: #ffff00;    
    text-shadow: 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000;
}