@import 'reset.css';

.app {
    min-height: 100vh;
    text-align: center;
    overflow-y: scroll;
}

.page__content {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('resources/img/bg/tourist-supplies-green.jpg') center/cover no-repeat;
}

h1 {    
    color: #ffff00;    
    text-shadow: 2px 2px 5px #000, 2px 2px 5px #000, 2px 2px 5px #000;
}