.menu {
    width: 500px;
    margin: 0 auto;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__list li {
    list-style: none;
}

.menu__list li a{
    text-decoration: none;
}